:root {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(0, 0%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: hsl(0, 0%, 100%);
    width: 92%;
    height: 60%;
    border-radius: 20px 20px 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: hsl(0, 0%, 8%);
    font-weight: 800;
    font-size: 1.5rem;
    font-style: italic;
    align-self: flex-start;
    margin-left: 6%;
}

span {
    color: hsl(259, 100%, 65%);
}

button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: unset;
    width: 2rem;
    height: 2rem;
    grid-row: 4;
    z-index: 3;
    grid-column: 2;
    margin: auto;
    margin-top: 10%;
}

svg {
    width: 0.8rem;
    height: 0.8rem;
}

form {
    color: hsl(0, 1%, 44%);
    font-weight: 400;
    width: 85%;
    height: 40% ;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 20% 10% 50%;
    gap: 15px;
    align-items: center;
}

hr {
    border-top: 1px solid hsl(0, 1%, 44%);
    width: 100%;
    grid-row: 4;
    grid-column: 1 / 4;
    z-index: 2;
    margin-top: 10%;
}

label {
    font-size: 0.4rem;
    letter-spacing: 0.1rem;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
}

input {

    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 1.5rem;
    grid-row: 2;
    width: 100%;
    padding-left: 15%;
    text-align:left;
    margin-bottom: 0%;

}

.error {
    color: hsl(0, 100%, 67%);
    grid-row: 3;
    font-weight: 400;
    font-style: italic;
    font-size: 0.5rem;
    margin-bottom: 10%;
}

.errorAnimation {
    animation: errorTremble 0.2s linear 0s infinite normal none;
}

@keyframes errorTremble {
    0% {margin-left: 0rem;}
    33% {margin-left: 0.1rem;}
    66% {margin-left: -0.1rem;}
    100% {margin-left: 0rem;}
}