:root {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    font-family: 'poppins', sans-serif;
}

body {
    background-color: hsl(0, 0%, 94%);
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 92vw;
    height: 60vh;
    border-radius: 20px 20px 100px 20px;
}

h1 {
    color: hsl(0, 0%, 8%);
    font-weight: 800;
    font-style: italic;
}

span {
    color: hsl(259, 100%, 65%);
}

button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: unset;
    width: 120px;
    height: 120px;
    grid-row: 3;
}

form {
    color: hsl(0, 1%, 44%);
    font-weight: 400;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 50% 40%;
    gap: 5%;
}

hr {
    border-top: 1px solid hsl(0, 1%, 44%);
    grid-row: 3;
}

label {
    font-size: 0.4rem;
    letter-spacing: 0.1rem;
    grid-row: 1;
}

input {

    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    font-weight: 700;
    line-height: 2rem;
    grid-row: 2;
    width: 100%;
}